<form [formGroup]="getForm()" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <fieldset class="form-group">
        <label for="name">Project Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" />
    </fieldset>

    <!-- Description -->
    <fieldset class="form-group">
        <label for="description">Project Description</label>
        <!-- <input type="text" id="description" formControlName="description" class="form-control" /> -->
        <textarea id="description" formControlName="description" rows="4" class="form-control"></textarea>
    </fieldset>

    <!-- Due Date -->
    <fieldset class="form-group no-gutters">
        <label for="dateDue">Project Due Date</label>
        <div class="input-group datpicker-input col-3">
            <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                id="dateDue"
                formControlName="dateDue"
                ngbDatepicker
                #date="ngbDatepicker"
            />
            <button class="input-group-addon" (click)="date.toggle()" type="button">
                <span class="fa fa-calendar"></span>
            </button>
        </div>
    </fieldset>

    <!-- Status -->
    <fieldset class="form-group no-gutters">
        <div class="col-3">
            <label for="status">Status</label>
            <select id="status" formControlName="status" class="form-control">
                <option value="Complete" [disabled]="isCompletedDisabled()">Complete</option>
                <option value="In Progress">In Progress</option>
                <option value="Late">Late</option>
                <option value="Paused">Paused</option>
                <option value="Canceled" [disabled]="isCanceledDisabled()">Canceled</option>
            </select>
        </div>
    </fieldset>

    <!-- Priority -->
    <fieldset class="form-group no-gutters">
        <div class="col-3">
            <label for="priority">Project Priority</label>
            <select id="priority" formControlName="priority" class="form-control">
                <option value="Critical">Critical</option>
                <option value="High">High</option>
                <option value="Normal">Normal</option>
                <option value="Low">Low</option>
            </select>
        </div>
    </fieldset>

    <!-- Submit or navigate back -->
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-success ml-3">{{ getSubmitButtonText() }}</button>
    <span *ngIf="isFormInvalid()" class="help-block text-danger ml-3">The project is not valid!</span>
</form>
